# C++ / CMake build files
build/
cmake-build-debug/
*.o
*.so
*.pyd
*.dylib
*.dll
*.exe

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.pytest_cache/

# IDE settings (VS Code, CLion, etc.)
.vscode/
.idea/
*.swp
.DS_Store

# Data. все карты с сайта или рукописные
data/