# C++ / CMake build files
build/
cmake-build-debug/
*.o
*.so
*.pyd
*.dylib
*.dll
*.exe

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.pytest_cache/

# IDE settings (VS Code, CLion, etc.)
.vscode/
.idea/
*.swp
.DS_Store

# csv файлы результатов. только графики
results/*/*.csv

# Data. все карты с сайта
data_all/

#
Тестовое_задание_алгоритмы_поиска_пути_на_грид_графе.pdf